<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Damage Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='logout-style.css') }}">

</head>
<body>
    <header>
        <div class="navbar">
            <h1>Vehicle Damage Detection</h1>
            <nav>
                <a href="/index">Home</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="logout-message">
            <h2>Successfully Logged Out!</h2>
            <p>Login for more information</p>
            <a href="/login" class="login-btn">Login</a>
        </div>
    </main>
</body>
</html>